#cImg{
    background-image: url("images/courses/sample.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 5px;
}
.card{
    border-color:#d3d3d3;
}

#course-card:hover #cImg{
    opacity:40% !important;
}
.cardbody{
    position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.bi.bi-star{
    color:white;
}
#rate:hover .bi.bi-star,
#rate .bi.bi-star-fill {
    display: none;
}
#rate:hover .bi.bi-star-fill {
    display: inline;
}

.rating > button .bi.bi-star-fill {
    display: none;
}
.rating > button .bi.bi-star-fill,
.rating > button .bi.bi-star {
    font-size: 150%;
}
.reviewRating > span .bi.bi-star-fill,
.reviewRating > span .bi.bi-star {
    color:white;
}
.navbar-nav .nav-link:hover{
    font-weight: bold;
}
.cart-title{
    text-decoration-color: white;
}
.card-img-top{
    opacity:.8;
}

.crdtop :hover{
    opacity:.5 !important;
}
.bar a{
    color:black;
}
#locationHead{
    background-image: url("images/kelowna.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width:100%;
    height:250px;
    color:white;

}
.course-wrap {
    position: relative;
    height:300px;
    background-color: black;
  }
  
  .course-wrap::before {
    background-color: black;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .course-content {
    position: relative;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity:100%;
    
  }
  